name: Custom GKI Kernels

permissions:
  contents: write
  actions: write

on:
  workflow_dispatch:
    inputs:
      # Build Selection
      build_a12_5_10:
        description: "Android 12 - 5.10"
        type: boolean
        default: true
      build_a13_5_10:
        description: "Android 13 - 5.10"
        type: boolean
        default: true
      build_a13_5_15:
        description: "Android 13 - 5.15"
        type: boolean
        default: true
      build_a14_5_15:
        description: "Android 14 - 5.15"
        type: boolean
        default: true
      build_a14_6_1:
        description: "Android 14 - 6.1"
        type: boolean
        default: true
      build_a15_6_6:
        description: "Android 15 - 6.6"
        type: boolean
        default: true
      build_a16_6_12:
        description: "Android 16 - 6.12"
        type: boolean
        default: false

      kernel_variant:
        description: 'Choose KernelSU Variant'
        required: true
        type: choice
        options: [ WILD, NEXT, KSU, SUKI ]
        default: NEXT
      kernel_uname:
        description: 'Custom kernel version name (Ex: Characters after 5.10.198 or leave blank to use default kernel version uname)'
        required: false
        type: string
      use_kpm:
        description: 'Use KPM? (SUKISU-ULTRA ONLY!)'
        required: false
        type: boolean
        default: false
      use_zram:
        description: 'Enable more ZRAM algorithms?'
        required: false
        type: boolean
        default: false
        
jobs:
  build-a12-5-10:
    name: ${{ inputs.kernel_variant }}-Android_12-5.10
    if: inputs.build_a12_5_10
    uses: ./.github/workflows/kernel-a12-5-10.yml
    secrets: inherit
    with:
      kernel_variant: ${{ inputs.kernel_variant }}
      kernel_uname: ${{ inputs.kernel_uname }}
      use_kpm: ${{ inputs.use_kpm }}
      use_zram: ${{ inputs.use_zram }}

  build-a13-5-10:
    name: ${{ inputs.kernel_variant }}-Android_13-5.10
    if: inputs.build_a13_5_10
    uses: ./.github/workflows/kernel-a13-5-10.yml
    secrets: inherit
    with:
      kernel_variant: ${{ inputs.kernel_variant }}
      kernel_uname: ${{ inputs.kernel_uname }}
      use_kpm: ${{ inputs.use_kpm }}
      use_zram: ${{ inputs.use_zram }}
      
  build-a13-5-15:
    name: ${{ inputs.kernel_variant }}-Android_13-5.15
    if: inputs.build_a13_5_15
    uses: ./.github/workflows/kernel-a13-5-15.yml
    secrets: inherit
    with:
      kernel_variant: ${{ inputs.kernel_variant }}
      kernel_uname: ${{ inputs.kernel_uname }}
      use_kpm: ${{ inputs.use_kpm }}
      use_zram: ${{ inputs.use_zram }}
      
  build-a14-5-15:
    name: ${{ inputs.kernel_variant }}-Android_14-5.15
    if: inputs.build_a14_5_15
    uses: ./.github/workflows/kernel-a14-5-15.yml
    secrets: inherit
    with:
      kernel_variant: ${{ inputs.kernel_variant }}
      kernel_uname: ${{ inputs.kernel_uname }}
      use_kpm: ${{ inputs.use_kpm }}
      use_zram: ${{ inputs.use_zram }}
      
  build-a14-6-1:
    name: ${{ inputs.kernel_variant }}-Android_14-6.1
    if: inputs.build_a14_6_1
    uses: ./.github/workflows/kernel-a14-6-1.yml
    secrets: inherit
    with:
      kernel_variant: ${{ inputs.kernel_variant }}
      kernel_uname: ${{ inputs.kernel_uname }}
      use_kpm: ${{ inputs.use_kpm }}
      use_zram: ${{ inputs.use_zram }}
      
  build-a15-6-6:
    name: ${{ inputs.kernel_variant }}-Android_15-6.6
    if: inputs.build_a15_6_6
    uses: ./.github/workflows/kernel-a15-6-6.yml
    secrets: inherit
    with:
      kernel_variant: ${{ inputs.kernel_variant }}
      kernel_uname: ${{ inputs.kernel_uname }}
      use_kpm: ${{ inputs.use_kpm }}
      use_zram: ${{ inputs.use_zram }}
      
  build-a16-6-12:
    name: ${{ inputs.kernel_variant }}-Android_16-6.12
    if: inputs.build_a16_6_12
    uses: ./.github/workflows/kernel-a16-6-12.yml
    secrets: inherit
    with:
      kernel_variant: ${{ inputs.kernel_variant }}
      kernel_uname: ${{ inputs.kernel_uname }}
      use_kpm: ${{ inputs.use_kpm }}
      use_zram: ${{ inputs.use_zram }}
      
